<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>作业列表</title>

</head>
<style>
        html,body{text-align:center;margin:0px auto;}
</style>
<body>
<h1>记得在规定期限内提交作业哦~</h1>
<u1>
        {%for homework in homeworkList%}
    <li>
        <!--<a href="{{homework.student_id}}/{{homework.id}}">-->
            {{homework.homework_deadline}},{{homework.homework_content}},{{homework.teacher_email}},
            {{homework.homework_create_time}}

        <a href="http://127.0.0.1:8000/login/7/{{homework.id}}">
            <input type="submit" value = "提交作业" />
        </a>
       <!--<input type="submit" value = "提交作业" /></a>-->


    </li>
        {%endfor%}
</u1>

</body>
</html>