<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>作业列表</title>

</head>
<style>
        html,body{text-align:center;margin:0px auto;}
</style>
<body>
<h1>记得在规定期限内提交作业哦~</h1>
<h2>未完成作业</h2>
<u1>
        {%for homework in uncompleted_homeworkList%}

        <!--<a href="{{homework.student_id}}/{{homework.id}}">-->
       <li> <I>作业时间：</I> {{homework.homework_create_time}} -{{homework.homework_deadline}} </li>
       <li><I>作业内容：</I> {{homework.homework_content}}</li>
       <li><I>老师姓名：</I> {{homework.teacher_name}},</li>


        <a href="http://127.0.0.1:8000/login/7/{{homework.id}}">
            <input type="submit" value = "提交作业" />
        </a>
       <!--<input type="submit" value = "提交作业" /></a>-->


    </li>



    </li>

</li>

        {%endfor%}
</u1>

<h2>已完成作业</h2>
<u1>
        {%for homework in completed_homeworkList%}

        <!--<a href="{{homework.student_id}}/{{homework.id}}">-->
       <li> <I>作业时间：</I> {{homework.homework_create_time}} -{{homework.homework_deadline}} </li>
       <li><I>作业内容：</I> {{homework.homework_content}}</li>
       <li><I>老师姓名：</I> {{homework.teacher_name}},</li>

        <a href="http://127.0.0.1:8000/login/13/{{homework.id}}">
            <input type="submit" value = "查看作业及老师批改" />
        </a>
       <!--<input type="submit" value = "提交作业" /></a>-->

</li>



        {%endfor%}
</u1>

</body>
</html>
