<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看老师个人信息</title>
</head>
<body>
<div class="row text-center vertical-middle-sm">

<style>
        html,body{text-align:center;margin:0px auto;}
</style>

<h1>您的个人信息</h1>
    <div class="row">
        <div class="col-md-6" >
            <div class="row">
                <div class="col-md-4 text-right"><span>姓名:</span></div>
                <div class="col-md-8 text-left">{{teacher.sname}}</div>
            </div>
            <pre></pre>
            <div class="row">
                <div class="col-md-4 text-right"><span>性别:</span></div>
                <div class="col-md-8 text-left">
                    {% if teacher.sgender == True %}
                    <p><span>  男</span></p>
                    {% else %}
                    <p><span>  女</span></p>
                    {% endif %}
                </div>
            </div>
            <pre></pre>
            <div class="row">
                <div class="col-md-4 text-right"><span>年龄:</span></div>
                <div class="col-md-8 text-left">{{teacher.sage}}</div>
            </div>
            <pre></pre>
            <div class="row">
                <div class="col-md-4 text-right"><span>密码:</span></div>
                <div class="col-md-8 text-left">{{user.password}}</div>
            </div>
            <pre></pre>
            <div class="row">
                <div class="col-md-4 text-right"><span>邮箱:</span></div>
                <div class="col-md-8 text-left">{{user.email}}</div>
            </div>
            <pre></pre>
            <div class="row">
                <div class="col-md-4 text-right"><span>所教班级:</span></div>
                <u1>
                    {%for teacher_grade in teacher_grade_List%}
                    <div>
                        <a href="#">班级号:{{teacher_grade.grade}}</a>
                    </div>
                    {%endfor%}
                </u1>
            </div>
        </div>
    </div>

</div>
</body>
</html>